<p>
    title:{{book.volumeInfo.title}}
</p>
<p>
    authors:{{book?.volumeInfo?.authors?.join(" & ")}}
</p>
<p>
    publisher:{{book.volumeInfo.publisher}}
</p>
<p>
    country:{{book.saleInfo.country}}
</p>
 <p>
    saleability:{{book.saleInfo.saleability}}
</p>
 <p>
    textSnippet:{{book.searchInfo.textSnippet}}
</p>
<p>
isAvailable:{{book.accessInfo.epub.isAvailable ? 'yes':'No'}}
</p> 
<p>

</p>
<!-- <p>
inskyOfferType:{{book.offers.inskyOfferType}}
</p> -->
<!-- <p>
    currencyCode:{{book.listPrice.currencyCode}}
</p>   -->

 <!-- <img src="http://books.google.com/books/content?id=CAFeDwAAQBAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api" >  -->
    
    



