 <div  style="border: 2px solid black;margin-top: 5px;">  
    <app-common-book [book]="bookData"></app-common-book>
<!-- <p>
       Etag: {{bookData.etag}}
    </p>
    </div>
    <div  style="border: 2px solid black;margin-top: 5px;">  
    <p>
        
        Title:{{bookData.volumeInfo.title}}
        </p>
    <p>
        AllowAnonLogging:{{bookData.volumeInfo.allowAnonLogging}}
    </p>
    <p>
        Amount:{{bookData.saleInfo.listPrice.amount}}
    </p>
    <p>
        MaturityRating:{{bookData.volumeInfo.maturityRating}}
    </p>
    <p>
        PublishedDate:{{bookData.volumeInfo.publishedDate}}
    </p>
     <p>
        Subtitle:{{bookData.volumeInfo.subtitle}}
     </p>
     <p>
        Categories:{{bookData.volumeInfo.categories}}
    </p>
    <p>
        ContentVersion:{{bookData.volumeInfo.contentVersion}}
    </p>


    
     -->
     </div>